---
title: Artists As Web Designers
---
%h2 boop

%strong=current_page.data.title


This is a project that I've been planning for a couple years, and is ongoing.
As a young designer on the web, it's great to learn design patterns and
understand trends, but after a few years of learning web design I got tired of
[flat design](https://www.nngroup.com/articles/flat-design/), cards, hero
images, etc. I want a place to try things out that isn't just
[Codepen](http://codepen.io/cwervo), to be a little more robust than that, so I
made this project:

%h1.center Artists As Web Designers


%h2 Salvador Dali
.artist-container
  .artist-container-background
    %img.dali{ :src=>"../../images/vim.svg" }
    -# Make keyframes animation from the moleskin idea :))))))


%h2 Frida Kahlo

%h2 Georgia O'Keeffe
