$debug: false;
@if $debug {
    $visual-grid: true;
    $visual-grid-color: red;
    $visual-grid-index: front;
    $visual-grid-opacity: 0.1;
}
@import "colors";
@import "bourbon/bourbon";
@import "neat/neat";

@charset "utf-8";

$nav-horizontal: "min-width: 800px";

// * { background-color: rgba(255, 255, 0, 0.2); }

// Set default navigation link sizes.
$nav-link-size: 8vh;
$nav-line-height: 0 + $nav-link-size;

.box {
    height: auto;
    max-height: 0px;
    // CSS3 Transitions don't work on percentages in this browsers yet :O
    // transition: all 0.65s ease-in-out;
}

.box-change {
    // height: 1000px;
    max-height: 50%;
    display: block;
}

body {
    $helvetica: (Helvetica Neue,Helvetica,sans-serif);
    font-family: $helvetica;
    // background-color: $grey-light;
    background-color: $bg-color;
    color: $text-color;
    // color: $grey-light;
    // margin: 100px;
    $default-padding: 2em;
    padding: 0 $default-padding $default-padding $default-padding;
}

a {
    color: $blue;
    text-decoration: none;
    border-bottom: 0.1em solid $link-bottom;
    letter-spacing: 0;
    transition: all 0.65s ease-in-out;

    &:hover {
        border-bottom-color: $blue;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bg-color;

    ul {
        text-align: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            text-align: center;
            font-size: $nav-link-size;
            // line-height: $nav-line-height;
        }
    }

    a {
        border-bottom: none;
        white-space: nowrap;
        &:hover {
            color: $white;
            letter-spacing: 2vw;
        }

        &.close {
            // font-size: 1.5 * $nav-link-size;
            text-align: right;
            min-width: 100%;
            margin: 2% 2% 0 90%;

            &:hover {
                padding: 0;
                letter-spacing: 0;
                color: pink;
            }
            @media ( $nav-horizontal ) {
                visibility: hidden;
                display: none;
            }
        }
    }
}

section.content{
    // font-size: 1.35em;
    // z-index: 1;
    margin-top: $nav-line-height * 1.5;
    @media ($nav-horizontal) {
        margin-top: $nav-line-height * 0.75;
    }
    @media (min-width: 1000px) {
        padding-top: $nav-line-height * 0.8;
    }
    @include outer-container;

    aside {
        @include span-columns(4);
    }

    article {
        @include span-columns(8);
    }
}
