@import "base";

nav {
    bottom: 0;
    .close {
        display: none;
        visibility: hidden;
    }
}

nav ul li {
    // height:  5vw;
    font-size: 8vh;
    line-height:  2em;
    a {
        white-space: nowrap;
        &:hover {
            // letter-spacing: 0.5vw;
            @media ( $nav-horizontal ) {
                letter-spacing: 3vw;
            }
            @media ( min-width: 1000px) {
                letter-spacing: 5vw;
            }
        }
    }
}
