@import "base";

nav {
    border-bottom: 2px solid $blue;
    li a:hover {
        @media ( min-width: 400px ) {
            letter-spacing: 3vw;
        }
        @media ( $nav-horizontal ) {
            letter-spacing: 1vw;
        }
    }
}

// Don't show the nav-list by default
.nav-list-container {
    display: none;
    transition: all 5s ease-in;

    // Do show it when in the horizontal mode because you have to!
    @media ($nav-horizontal) {
        display: block;
    }

    &.opened {
        display: block;
    }
}

@media ($nav-horizontal) {
    nav {
        padding-bottom: 1em;

        ul {
            li {
                font-size: 2.5vw;
                // line-height: $nav-link-size;
                padding-right: 2em;
                float: left;
            }
        }
        .nav-list-container {
            margin-left: 2vw;
            // margin-left: 2em;
        }
    }
}
