<nav>
    <ul>
        <li class="close"><a href="#" class="close">x</a></li>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/portfolio">portfolio</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/case-studies">case studies</a></li>
        <li><a href="/contact">contact</a></li>
    </ul>
</nav>
