<%# Navigation list %>
<nav>
    <ul>
        <div class="close-container">
            <li class="close"><a href="##close" id="close" class="close">x</a></li>
        </div>
        <div class="nav-list-container">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/case-studies/">Case studies</a></li>
            <!-- <li><a href="/projects/">'no projects, just case studies???'</a></li> -->
            <li><a href="/thoughts/">Thoughts</a></li>
            <li><a href="/contact/">Contact</a></li>
        </div>
    </ul>
</nav>
