<%# Navigation list %>
<nav>
    <ul>
        <div class="close-container">
            <li class="close"><a href="##close" id="close" class="close">x</a></li>
        </div>
        <div class="nav-list-container">
            <li><a href="/">home</a></li>
            <li><a href="/about/">about</a></li>
            <li><a href="/portfolio/">portfolio</a></li>
            <li><a href="/projects/">projects</a></li>
            <li><a href="/thoughts/">thoughts</a></li>
            <li><a href="/case-studies/">case studies</a></li>
            <li><a href="/contact/">contact</a></li>
        </div>
    </ul>
</nav>
