<br/>
<div class="social-buttons">
    <%url = "http://cwervo.com/" + current_page.path%>
    <Facebook >
    <%# Facebook Likes + Share button %>
    <div class="fb-like"
        data-href="<%= url.to_s %>"
        data-layout="button_count" data-action="like" data-show-faces="true"
        data-share="true">
    </div>
    <%# Twitter %>
    <a class="twitter-share-button"
        href="https://twitter.com/intent/tweet?url=<%= url.to_s %>&text=I just read:&via=acwervo">Tweet this!</a>
    <%# Hacker News %>
    <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="<%= current_page.data.title %>" data-url="<%= url.to_s%>" data-count="horizontal">Vote on Hacker News</a>
    <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
    <%# Pocket :) %>
    <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
</div>
